<div class="application">
    {{osf-navbar loginAction=(action 'login') hideSearch=true}}
    <div class="content">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{osf-copyright}}
    {{osf-mode-footer}}
</div>
